.app-bar {

    &__brand-logo {
        position: relative;
        width: 64px;
        top: 5px;
        left: 5px;
    }

    &__link {
        color: white;
    }

    &__img-build-travis {
        position: relative;
        right: 3px;
        top: 4px;
    }
}


.panel-container {
    min-height: 420px;
}
